body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.mode-edit li a {
  color: red;
}

.mode-edit a[data-mode-toggle] {
  color: inherit;
}

.label-less {
  display: none;
}

.more .label-less {
  display: inline;
}

.more .label-more {
  display: none;
}
